.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

@media screen and (max-width: 767px) {
  .header__menu {
    flex-direction: column;
    gap: 26px;
    align-items: center;
  }
}
