.description__list {
  align-self: center;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width:768px) {
  .description__list {
    align-items: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .description__list {
    align-items: center;
  }
}
