.intro__images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1.4fr 8.6fr 1.4fr;
  column-gap: 5%;
}

.intro__images:nth-child(1) {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}

 .intro__images:nth-child(2) {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
}

 .intro__images:nth-child(3) {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}
